 <%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<div class="voltarPainel">
    <a href="/">< Voltar</a>
</div>

<div class="carrinhoDiv">

<div class="produtosDivV">

    <% produtos.forEach(function(produto){ %>
        <div class="produtoUnico" data-id="<%= produto._id %>">
            <h2><%= produto.nome %></h2>
            <li><%= produto.preco %></li>
            <li><%= produto.desconto %></li>
            <li><%= produto.descricao %></li>
            <div class="fotoIndex fotoIndexCarrinho">
                <% if(produto.imagemBase64) { %>
                    <img src="<%= produto.imagemBase64 %>" alt="Imagem do Produto" style="width:auto; height:200px;">
                <% } %>
            </div>
                <div class="buttonDiv">
                    <a href="/deletPcarrinho/:<%=produto._id%>"><button class="buttonProduto">Apagar produto</button></a>
                </div>
            </div>
            <% }); %> 

    </div>

        <div class="buttonDiv btnCarrinho">
            <a href="/seuEndereco"><button class="buttonProduto">Comprar</button></a>
        </div>
            